<head>
    <title>Weathermap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #map{
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
        #map {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
            margin: 20px;
        }

    </style>
    <script>
        function show(shown1,shown2,hidden){
            document.documentElement.scrollTop = 0;
            document.getElementById(shown1).style.display = 'none';
            document.getElementById(shown2).style.display = 'none';
            document.getElementById(hidden).style.display='block';
            return false;
        }
    </script>

</head>

